html {
    max-width: 900px;
    margin: 0 auto;
}

body {
    font-family: 'Poppins', sans-serif;
}

div.has-error {
    margin-top: 100px;
}

.main-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 1rem; /*Evite que le contenu touche le bord sur mobile*/
}

    /*Color for stars ratting*/
.text-gold {
    color: #d4af37;
}